{% extends 'admin/base_admin.html' %}
{% block admin_content %}
    <h2>Agregar Marca</h2>
    <form method="post">{% csrf_token %}
        <div class="form-group"><label>Nombre</label><input name="nombre"></div>
        <div class="form-group"><label>Imagen URL</label><input name="imagen_url"></div>
        <div class="form-group"><label>Año fundada</label><input name="año_fundada" type="number"></div>
        <div class="form-group"><label>Fundador</label><input name="fundador"></div>
        <div class="form-group"><label>País origen</label><input name="pais_origen"></div>
        <div class="form-group"><label>Descripción</label><textarea name="descripcion"></textarea></div>
        <button class="login-button" type="submit">Agregar</button>
    </form>
{% endblock %}
